$primary: #bd10e0;
$border-width: 1px;
$gray-400: #dfe2e6;
$gray-600: #6b6c6f;
$input-focus-width: 0;
$input-focus-box-shadow: none;
$input-focus-border-color: $gray-400;
$input-placeholder-color: $gray-400;

@mixin fill-button($isFulfill) {
  @if $isFulfill {
    color: $white;
    background-color: $primary;
  } @else {
    color: $primary;
    background-color: $white;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
