@import "./font";
@import "./custom";

$border-width-custom: 2px;
$form-margin-bottom-custom: 18px;

body {
  margin: 0;
  font-family: "Proxima", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// Shared
%input-icon-shared {
  border: $border-width solid $gray-400;
  padding: 10px;
}
// Global style

// Button
.Button {
  width: 160px;
  height: 40px;
  border-width: $border-width-custom;

  &--state-fulfill {
    @include fill-button(true);
  }

  &--state-empty {
    @include fill-button(false);
    // color: $primary;
    // background-color: $white;;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Form-cell
.Form-cell {
  label {
    color: $gray-600;
    font-weight: bold;
    margin-left: 10px;
    text-transform: capitalize;
  }

  input {
    padding: 12px;
    border-left: none;
    border-radius: 0 20rem 20rem 0;
  }

  &__icon--left {
    @extend %input-icon-shared;
    border-radius: 20rem 0 0 20rem;
    border-right: 0;
  }

  &__icon--right {
    @extend %input-icon-shared;
    border-radius: 0 20rem 20rem 0;
    border-left: 0;
  }
}

// FormWrapper
.Form-wrapper {
  span:first-child {
    display: inline-block;
    font-size: 8px;
    color: $gray-600;
    text-transform: uppercase;
    margin: 20px 0;
  }

  &__title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: $form-margin-bottom-custom;
  }

  .form-group {
    margin-bottom: $form-margin-bottom-custom;
  }
}

// Checkbox
.Check-box {
  position: relative;
  display: inline-block;

  input {
    position: absolute;
    top: 3px;
    left: -10px;
    height: 18px;
    width: 18px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    &:checked ~ .Check-box--custom {
      border-color: $primary;
    }

    &:checked ~ .Check-box--custom::after {
      height: 10px;
      width: 5px;
      top: 1px;
      left: 5px;
      border: 2px solid #bd10e0;
      border-width: 0 2px 2px 0;
      transform: scale(1) rotate(45deg);
    }
  }

  &--custom {
    position: absolute;
    top: 3px;
    left: -15px;
    height: 18px;
    width: 18px;
    border: $border-width-custom solid $gray-400;
    transition: all 0.2s ease;

    &::after {
      position: absolute;
      content: "";
      top: 1px;
      left: 1px;
      height: 0;
      width: 0;
      background-color: $white;
      transition: all 0.1s ease;
      transform: scale(0) rotate(0);
    }
  }

  label {
    color: $gray-600;
    font-size: 14px;
    margin: 0 0 0 10px;
  }
}

// Logo
.Logo {
  width: 100%;
  margin: 20px 0;
}

// Layout: GuessLayout
.Guess-layout {
  padding: 0;

  &__bitmap {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .row {
    margin: 102px 0;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "lg" )) {
  .Form-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "md" )) {
  .Button {
    width: 120px;
  }
}
