@import "./font";
@import "./custom";

body {
  margin: 0;
  font-family: "Proxima", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Button
.Button {
  width: 160px;
  height: 40px;

  &--state-fulfill {
    @include fill-button(true);
  }

  &--state-empty {
    @include fill-button(false);
    // color: $primary;
    // background-color: $white;;
  }
}
