@import "./abstracts";
@import "./components";
@import "./layouts";
@import "./pages";

// Global style
body {
	margin: 0;
	font-family: "Proxima", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media only screen and (max-width: map-get($grid-breakpoints, "lg" )) {
	.Form-wrapper {
		width: 60%;
	}

	.Button {
		&-admin {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 0;
			padding: 16px 25px;
		}

		&-list-wrapper-guess {
			width: 60%;
		}
		&-list-wrapper-admin {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 12px auto;
			width: 60%;
		}
	}
}

@media only screen and (max-width: map-get($grid-breakpoints, "md" )) {
	.Form-wrapper {
		width: 70%;
	}
	.Button {
		&-guess {
			width: 120px;
		}

		&-modal {
			padding: 0 20px;
		}
	}

	&-list-wrapper-guess {
		width: 70%;
	}
	&-list-wrapper-admin {
		width: 70%;
	}
}

@media only screen and (max-width: map-get($grid-breakpoints, "sm" )) {
	.Form-wrapper {
		width: 80%;
	}

	.Button {
		&-list-wrapper-guess {
			width: 80%;
		}
	}
}
