// Custom variable
$border-width-custom: 2px;
$border-color-custom: #212020;
$border-color-custom-70: #212020b3; //opacity: 0.7
$admin-font-color: #313558;
$admin-section-header-color: #bfc2d3; //opacity: 1
$admin-section-border-color: #bfc2d366; //opacity: 0.4
