.Avatar-admin {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&--image {
		width: 60px;
		height: 60px;
	}

	span {
		position: absolute;
		top: -16px;
		left: 38px;
	}

	&--title {
		color: $admin-font-color;
		text-transform: capitalize;
		font-size: 32px;
		margin: 0 24px;
		font-weight: bold;
	}
}
