// Button
.Button {
	&-guess {
		width: 160px;
		height: 40px;
		border-width: $border-width-custom;

		&--state-fulfill {
			@include fill-button(true);
		}

		&--state-empty {
			@include fill-button(false);
		}
	}

	&-admin {
		height: 60px;
		padding: 16px 45px;
		border-width: $border-width-custom;
		margin-right: 35px;

		&--state-fulfill {
			@include fill-button(true);
		}

		&--state-empty {
			@include fill-button(false);
		}
	}

	&-modal {
		height: 40px;
		padding: 0px 30px;
		border-width: $border-width-custom;
		margin-right: 15px;

		&--state-fulfill {
			@include fill-button(true);
		}

		&--state-empty {
			@include fill-button(false);
		}
	}
}
