// Form-cell
.Form-cell {
  label {
    color: $gray-600;
    font-weight: bold;
    margin-left: 10px;
    text-transform: capitalize;
    text-align: left !important;
  }

  input {
    padding: 12px;
    border-left: none;
    border-radius: 0 20rem 20rem 0;
  }

  &__icon--left {
    @extend %input-icon-shared;
    border-radius: 20rem 0 0 20rem;
    border-right: 0;
  }

  &__icon--right {
    @extend %input-icon-shared;
    border-radius: 0 20rem 20rem 0;
    border-left: 0;
  }
}
